.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body{
  background-color: #282c34;
}

.title{
  color: #cecee3;
  font-size: 4rem;
  margin-top: 5rem;
}


